.App {
    text-align: center;
}

#random-button {
    cursor: pointer;
    margin: 10px auto;
    background-color: silver;
    width: 60px;
    font-size: 60%;
    font-family: "Verdana", sans-serif;
}

#stop-button {
    cursor: pointer;
    margin: 10px auto;
    background-color: teal;
    width: 100px;
    font-size: 200%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#server-status {
    margin: 2px auto;
    line-height: 1;
}

table {
    border-collapse: collapse;
}

/* remove padding */
td, th {
    padding: 10px;
}

#sound-table-container {
    margin: 95px auto 0;
    text-align: center;
}

.sound-table {
    margin: 5px auto;
}

.sound-link:nth-child(odd) {
    background-color: #EAF3F3;
}

.sound-table th {
    background-color: #D0DEF4;
}

.sound-link {
    cursor: pointer;
}

.sound-link:hover {
    background-color:teal;
    color: white;
}

.nowrap {
    white-space: nowrap;
}

#speaker-icon-left {
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}

#speaker-icon-right {
    height: 40px;
    margin-left: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
}

.App-header {
    background-color: #222;
    color: white;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.App-header > h2 {
    display: inline;
    line-height: 50px;
    vertical-align: middle;
}
